{% extends 'catalog/base.html' %}
    {% block content %}
    <div class="catalog">
        {% for manga_title in manga_titles %}
        {% if manga_title.poster %}
        <a href="{{manga_title.get_absolute_url}}">
        <div class="small-poster">
            <img  src="{{manga_title.poster.url}}">
            <div class="title">
                <p>{{manga_title.title|truncatewords:4}}</p>
            </div>
        </div>
        </a>
        {%endif%}
        {% endfor %}
    </div>
    {% endblock content %}
