{% extends 'catalog/base.html' %}

{% block content %}
<div class="title_page">
    <div class="description">
        <h1>{{manga_title.title}}</h1>
        <img class="poster_on_title_page" src="{{manga_title.poster.url}}">
        <p>{{manga_title.description}}</p>
    </div>
    <div class="chapters">
        {% for chapter in chapters %}
        {% if chapter.poster %}
        <a href="{{chapter.get_absolute_url}}">
        <div class="small-poster">
            <img  src="{{chapter.poster.url}}">
            <div class="title">
                <p>{{chapter.get_number}} - {{chapter.name}}</p>
            </div>
        </div>
        </a>
        {%endif%}
        {% endfor %}
    </div>
</div>

{% endblock content %}